/* Body text style */
body {
  font-family: "Handlee", cursive;
  font-weight: 600;
  font-style: normal;
}

/* Yellow underline for navbar brand */
.underline-yellow {
  text-decoration: underline;
  text-decoration-color: goldenrod; /* or yellow */
  text-underline-offset: 4px; /* space between text & underline */
}

/* Common card styles */
.note-card {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  height: 15rem;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card footer */
.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Common title styles */
.note-card .note-title {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

/* Priority-specific shadows */
.shadow-low {
  box-shadow: 10px 15px rgba(0, 128, 0, 0.5);
}
.shadow-medium {
  box-shadow: 10px 15px rgba(255, 215, 0, 0.7);
}
.shadow-high {
  box-shadow: 10px 15px rgba(255, 0, 0, 0.5);
}

/* Title underline colors */
.note-card .high {
  text-decoration-color: red;
}
.note-card .medium {
  text-decoration-color: goldenrod;
}
.note-card .low {
  text-decoration-color: green;
}

/* Pinned and archived icons */
.pinned {
  color: gold;
  margin-left: 5px;
}
.archived {
  color: gray;
  margin-left: 5px;
}
